
$action: #1D92FF;
$blackFont: #01070D;
$greyFont: #444444;
$greyLightFont: #9b9b9b;


$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;